
<%- include('./partials/header')%>
<main class="detalis_product">
<button id="btn" onclick="toggleHide()">Edit User</button>
 <a id="delet" href="/single/<%=picture.id%>/delete">Delete</a>
   <figure>
   
        <img src=<%=picture.url%> alt="">
        </a>
    <figcaption class="figc">
        <div> 
        <p>
            <%=picture.articlename%>
        </p>
        <p>
            <%=picture.company%>
        </p>
    </div>
        <p id="price">
            <%=picture.price%>

        </p>
    </figcaption>
    <p id="description">
        Product Description:
        <br>
        <%=picture.description%>

    </p>
    <button id="buy">BUY PRODUCT</button>

</figure>

<form action="/single/<%=picture.id%>/edit" method="POST" id="Form" class="hide">
    <h2 id="edit_product">Edit Product</h2>
    <input type="text" name="articlename"  placeholder="Product-Name" value="<%=picture.articlename%>">
    <input type="text" name="url"  placeholder="Url-Picture" value="<%=picture.url%>">
    <input type="text" name="brandname"  placeholder="Company" value="<%=picture.company%>">
    <input type="text" name="price"  placeholder="Price" value="<%=picture.price%>">
    <textarea name="description"  rows=6 placeholder="Write your article here..."><%=picture.description%></textarea>
    <input type="submit" value="Edit Product">
    </form>
</main>
<%- include('./partials/footer')%>