<%- include('./partials/header') %>
<figure>
        <img src=<%=picture.url%> alt="">
        </a>
    <figcaption>
        <p>
            <%=picture.articlename%>
        </p>
        <p>
            <%=picture.price%>
        </p>
        <p>
            <%=picture.company%>
        </p>
    </figcaption>

</figure>
<%- include('./partials/footer') %>