<%- include('./partials/header') %>
<div class="gallery">
    <% prudectData.forEach(picture => { %>
        
        <figure class="grid">
            <a href="/single/<%=picture.id%>">
                <img src=<%=picture.url%> alt="">
                </a>
            <figcaption>
                <p>
                    <%=picture.articlename%>
                </p>
                <p>
                    <%=picture.price%>
                </p>
                <p>
                    <%=picture.company%>
                </p>
                <p>
                    <%=picture.description%>
                </p>
            </figcaption>
        </figure>
        <%})%>
</div>
        <%- include('./partials/footer') %>